API_URL=https://www.example.com
ADMIN_ACCOUNT=1111111111
HELLO.ME=1
HELLO.HI=2
HELLO.LOVE.APP=2
HELLO.LOVE.ME=1
HELLO.LOVE.appy=true
https://endpoint-sample.com;service_domain=app_reg;
APP_ENV=endpoint=app.com;service_domain=app_reg
